*.[ao]
*.so
*.dll
*.lib
*.dylib

Makefile
Makefile.in
.libs/
.deps/
*.stamp
*.la
*.lo
.directory

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/cdk/cdk.h
/cdk/cdk.pc
/cdk/cdk.vapi
/cdk/config.h*
/cdk/stamp-h1
